In [1]:
print("Welcome to world to python")

Welcome to world to python

In [2]:
print("Hello\nLets learn about new line")

Hello
Lets learn about new line

# variable

In [3]:
x=5
y="teclov"

In [4]:
x

5

In [5]:
# Its case sensitive
X

NameError: name 'X' is not defined

In [6]:
# use keyword - will throw error
try = 1

SyntaxError: invalid syntax (<ipython-input-6-bff33500a435>, line 2)

In [8]:
# address
print(id(x))

4563712496

In [7]:
#Get all keywords
import keyword
print(keyword.kwlist)
print("Total number of keywords ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Total number of keywords  33

In [9]:
# cant use special character
a@ = 1

SyntaxError: invalid syntax (<ipython-input-9-a2f13f8ef407>, line 2)

In [10]:
# will return type
x = 1
type(x)

int

In [11]:
y = "teclov"
type(y)

str

In [12]:
a,b,c=2

TypeError: 'int' object is not iterable

In [13]:
a,b,c=2,2,2
a,b,c

(2, 2, 2)

# Numeric operations

In [14]:
a = 10
b = 20
print(a + b)  

print(a - b) 
print(a * b) 
print(a / b)
print(a // b)
print(a % b) 
print(a ** b)

30
-10
200
0.5
0
10
100000000000000000000

In [15]:
# BEDMAS
print(4 * 5 - 9 + 6 / 7)

11.857142857142858

In [16]:
a = 9
a += 1
print(a)
a -= 1
print(a)

10
9

In [17]:
import math
x = 2
math.log(x)

0.6931471805599453

# Logical

In [18]:
#Logical
print(3 < 4)
print(True and False) 
print(True or False)
print(a!=b) 
print(True and not False)

True
False
True
True
True

In [19]:
a = True
type(a)

bool

In [20]:
not a

False

# string values and operator

In [1]:
x = 'teclov'
y = "GEEKSHUB"
x,y

('teclov', 'GEEKSHUB')

In [2]:
len(x),len(y)

(6, 8)

In [3]:
small = "hello lets convert to upper"
print(small.upper())

large = "HELLO LETS CONVERT TO LOWER"
print(large.lower())

HELLO LETS CONVERT TO UPPER
hello lets convert to lower

In [4]:
some_sentence = "There is a space at the end    "
print(some_sentence)
print(some_sentence.rstrip())

There is a space at the end
There is a space at the end

In [5]:
increment = '4%'
print(increment.rstrip('%'))

4

In [6]:
start = "   There is space at the start"
print(start)
print(start.lstrip())

   There is space at the start
There is space at the start

In [7]:
num_with_chars = '*444#'
print(num_with_chars.rstrip('#').lstrip('*'))

444

In [8]:
val = "4 apples"
no_of_apples = val[0] 
print('number of apples is', no_of_apples)

number of apples is 4

In [9]:
what = val[2:]
print(what)

apples

In [10]:
what.replace("a","$#@")

'$#@pples'

In [11]:
#slicing by specifying start and end index
print(val[2:5])

app

In [1]:
batch = "5 oranges 3 monkeys and"
fruits = batch[ :9]
print(fruits)

5 oranges

In [13]:
print(batch[ :-2])

5 oranges 3 monkeys a

In [14]:
animals = batch[10:-2]
print(animals)

3 monkeys a

In [15]:
nums = '123456789'
even_nums = nums[1::2]
print(even_nums)

2468

In [16]:
odd_nums = nums[0::2]
print(odd_nums)

13579

In [17]:
odd_nums_again = nums[ :: 2]

In [18]:
first_name = "geekshub"
last_name = 'teclov'

In [19]:
name = first_name + " " + last_name
print(name)

geekshub teclov

In [21]:
# string operation
name = first_name + " " + last_name + " pvt Ltd"
print(name)

geekshub teclov pvt Ltd

In [22]:
"""Lets also
understand example of 
multi-line comments"""
first_name.capitalize()

'Geekshub'

In [24]:
age = 20
my_age = ("I am "+ str(age) + " years old")
print(my_age)

I am 20 years old

In [25]:
My_age = "I am {0} years old".format(age)
My_age

'I am 20 years old'

In [26]:
A = "Data"
B = "Analysis"
C = "Numpy"

print("{0} {1} using {2}".format(A,B,C))

Data Analysis using Numpy

In [27]:
#concat and update
name += ' ' + my_age
print(name)

geekshub teclov pvt Ltd I am 20 years old

In [28]:
x="as"
y="assignment"

x in y

True

# Creating Functions

In [2]:
# Check Function-teclov doc

In [35]:
# Documentation
def triple(num):
    """
    function to triple the number
    """
    return 3 * num

In [36]:
triple(10)

30

In [37]:
print(triple.__doc__)

    function to triple the number

# Looping

# If else loop

In [29]:
a=5
if a>50:
    print('a is larger than 50')
else:
    difference=50-a
    print('a is smaller than 50 by '+str(difference)+' units')

a is smaller than 50 by 45 units

In [31]:
# Elif
num = int(input("Enter a number: "))

if num > 0:
    print("Positive number")
elif num == 0:
    print("It is a ZERO")
else:
    print("Negative Number")

Enter a number: 0
It is a ZERO

In [32]:
# Find the smallest number out of 3 values
n1 = 2
n2 = 60
n3 = 78

if (n1 <= n2) and (n1 <= n3):           #logical operator   and
    smallest = n1
elif (n2 <= n1) and (n2 <= n3):
    smallest = n2
else:
    smallest = n3
print("Smallest element among three numbers is: {}".format(smallest))

Smallest element among three numbers is: 2

In [34]:
if None:
    print("Is True")
else:
    print("Is False")

Is False

# For loop

In [2]:
subjects = ["maths","science","hindi","history"]

In [3]:
print(len(subjects[0]))
print(len(subjects[1]))
print(len(subjects[2]))
print(len(subjects[3]))

5
7
5
7

In [5]:
for i in range(4):
    print(len(subjects[i]))

5
7
5
7

In [6]:
for i in range(1,10,3):
    print(i)

1
4
7

In [15]:
str1=''
for i in range(0,9):
    if i<5:
        str1 += '* '
        print(str1)
    elif i>4:        
        str1 = str1[:-2]
        print(str1)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [8]:
my_string = "Hello from Teclov"

for n,alphabet in enumerate(my_string):
    print(alphabet, n)

H 0
e 1
l 2
l 3
o 4
  5
f 6
r 7
o 8
m 9
  10
T 11
e 12
c 13
l 14
o 15
v 16

In [9]:
# while loop
num = int(input("Enter a number: "))        #convert string to int


isDivisible = False;

i=2;
while i < num:
    if num % i == 0:
        isDivisible = True;
        print ("{} is divisible by {}".format(num,i) )
    i += 1;
    
if isDivisible:
    print("{} is NOT a Prime number".format(num))
else:
    print("{} is a Prime number".format(num))

Enter a number: 3
3 is a Prime number