In [1]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [2]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [3]:
actor = d['actor']
print(actor)

amir

In [4]:
animal = d['animal']
print(animal)

cat

In [5]:
age = d.get('list')
print(age)

[23, 32, 12]

In [6]:
profession  =  d.get('Profession','NA')
print(profession)

NA

In [7]:
d['earth'] = 36
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 36, 'list': [23, 32, 12]}

In [8]:
#add a key, val
d['Profession'] = 'Singer'
print(d)

{'Profession': 'Singer', 'actor': 'amir', 'animal': 'cat', 'earth': 36, 'list': [23, 32, 12]}

In [9]:
print('Profession' in d)

True

In [10]:
#get list of keys
print(list(d.keys()))

#get list of values
print(list(d.values()))

['Profession', 'actor', 'animal', 'earth', 'list']
['Singer', 'amir', 'cat', 36, [23, 32, 12]]

In [11]:
new = dict(Country='Honey Singh', Songs=['Blue Eyes','night party'])

In [12]:
d.update(new)
print(d)

{'Country': 'Honey Singh', 'list': [23, 32, 12], 'Songs': ['Blue Eyes', 'night party'], 'Profession': 'Singer', 'actor': 'amir', 'animal': 'cat', 'earth': 36}

In [13]:
del d['Songs']
print(d)

{'Country': 'Honey Singh', 'list': [23, 32, 12], 'Profession': 'Singer', 'actor': 'amir', 'animal': 'cat', 'earth': 36}

In [14]:
print(len(d))

6

In [15]:
#see all the details. 
print(list(d.values()))

['Honey Singh', [23, 32, 12], 'Singer', 'amir', 'cat', 36]

In [16]:
d[6] = ['Teclov', 22]
print(d)

{'Country': 'Honey Singh', 'list': [23, 32, 12], 6: ['Teclov', 22], 'Profession': 'Singer', 'actor': 'amir', 'animal': 'cat', 'earth': 36}

In [17]:
print(list(d.keys()))

['Country', 'list', 6, 'Profession', 'actor', 'animal', 'earth']

In [ ]:
for a,b in d.items():
    print(a,":",b)